* {
  margin: 0;
  padding: 0;
}

:root {
  --wfont : #333;
  --lfont : #fff;
  --light : #ff6659;
  --middel : #d32f2f;
  --deep : #9a0007;
  --border : #89867c;
}


ul {
  padding-left: 0;
}

ul li {
  list-style:none;
}



body {
background: var(--lfont);
overflow-y: scroll;
color: var(--wfont);
padding-top: 80px;
}

a {
  text-decoration: none;
  color: var(--wfont);
}

.navbar {
  /* margin-top: 20px; */
  background: linear-gradient(rgba(154, 0, 7, 1) 80px, rgba(154, 0, 7, 0.5) 80px, rgba(154, 0, 7, 0.5));
  height: 80px;
  /* overflow: hidden; */
  /* border: 1px solid #89867c; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  /* align-content: center; 이걸 주면 메뉴가 y축 가운데 정렬 돼요 ㅠㅠ*/
  padding: 0 50px;
  transition: height .3s;
  white-space:nowrap;
  color: var(--lfont);
}

/* .navbar__logo {
  height: 50px; 안해도 되네..?
} */

.navbar__logo > i,
.navbar__logo > a {
  line-height: 55px;
  white-space:nowrap;
}

/* .navbar__logo > i {
  font-size: 30px; 
  color: green;
} */

.navbar__logo > a > span {
  font-family: 'East Sea Dokdo', cursive;
  /* font-weight: 700; */
  font-size: 40px;
  color: var(--lfont);
  /* text-shadow: 1px 1px 2px var(--border); */
}

.navbar__logo > a > span:nth-child(2) {
  color: var(--light);
}

.navbar__logo > a > p {
  font-family: 'Oswald', sans-serif;
  color: var(--lfont);
  font-size: 17px;
  line-height: 1px;
}


.navbar__menu {
  display: flex;
  width: 700px; /* 이걸 %로 줘버리면 화면이 작아질 때 옆에 요소가 침범하더라고 */
  /* justify-content: space-around; 1. 이걸하면 안되는 이유가, 메뉴 컨텐츠 길이에 따라 공백너비가 들쭉날쭉 됨. */
  justify-content: space-around; /* 이걸로 사이 여백으 줘야함. padding으로 주면 반응형 변환시 센터가 안맞음. */
}

.navbar__menu > li {
  line-height: 80px;
  padding: 0;
  position: relative;
  white-space:nowrap;
}

.navbar__menu > li:hover {
  color: var(--light);
}

.navbar__menu > li > ul {
  width: 100%; /*  2. 이걸 해줘야 너비가 일정하게 되더라고  */
  display: none;
  position: absolute; /* 3. 이것도 마찬가지로 이게 없으면, 메뉴 컨텐츠 길이에 따라 공백 너비가 들쭉날쭉 됨 */
  line-height: 30px;
}

.navbar__menu > li:hover > ul {
  display: block;
}

.navbar__menu > li > ul > li {
  white-space:nowrap;
  line-height: 40px;
  
  /* 속성은 요소 내부의 공백을 처리하는 방법을 설정  : nowrap은 공간제한으로 인한 자동줄바꿈을 허용하지 않는 속성*/
}

.navbar__menu > li > ul > li:hover {
  color: var(--light);
}


.navbar__icons {
  /* width: 30px; */
  font-size: 24px; 
  /* white-space:nowrap; */
  
}

.navbar__icons > a {
  line-height: 80px;
  margin-right: 5px;
  color: var(--lfont);
}


.navbar__toogleBtn {
  position: absolute;
  top: 15px;
  right: 32px;
  font-size: 32px;
  display:none;
}


@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    overflow: block;
    background: var(--deep);
    height: 80px;
  }
  
  .navbar.active{
    height: 500px;
  }

  .navbar__menu {
    display : none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 30px;
  }

  .navbar__menu > li{
    width: 100%;
    text-align: center;
  }


  .navbar__menu > li > ul{
    width: 100%;
    justify-content: space-around;
  }

  .navbar__menu > li:hover > ul {
    display: flex;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--deep);
  }


  .navbar__icons {
    display: none;
    width: 100%;
    justify-content: center;
  }

  .navbar__toogleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active{
    display: flex;
  }

  .navbar__icons > a:nth-child(1),
  .navbar__icons > a:nth-child(2) {
    line-height: 80px;
    margin-right: 30px;
  }
}




/* popup start */
/* font-family: SF Pro KR, SF Pro Display, SF Pro Icons, AOS Icons, Apple Gothic, HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, Helvetica Neue, Helvetica, Arial, sans-serif; */
.layerPopup img{
margin-bottom : 8px;
width:400px; 
height:500px;
}

.layerPopup:before {
  content:""; 
  display:block; 
  position:fixed; 
  left:0; 
  top:0; 
  width:100%; 
  height:100%; 
  background:rgba(0,0,0,.5); 
  z-index:9000
}

.layerPopup .layerBox {
  z-index:10000;   
position:fixed; 
left:25%; 
top:40%; 
transform:translate(-50%, -50%); 
padding:10px; 
background:#fff; 
border-radius:6px; 
}

.layerPopup .layerBox .title {
  margin-bottom:10px; 
  padding-bottom:10px; 
  font-weight:600; 
  border-bottom:1px solid #d9d9d9;
  color: #333;
}

/* .layerPopup .layerBox form{
  margin: 0 10px;
}  */

.layerPopup .layerBox .btnTodayHide {
font-size:14px; 
font-weight:600; 
color:black; 
float: left;
text-decoration:none;
width: 150px; 
height : 30px;
line-height:30px;
border:black solid 1px; 
text-align : center;
}

.layerPopup div{
	display : inline;
}

.layerPopup form{
	margin : 0px 10px;
	font-size:16px; font-weight:600;
  width: 95%;
	height : 30px;
	line-height:30px;
  color: #333;
}

/* .layerPopup form .check{
margin: 100px 0;
} */

.layerPopup #close {
font-size:16px; font-weight:600; width: 40px; height : 30px;color:black; float: right; line-height:30px; text-align : center;text-decoration:underline;
}

.layerPopup a{
	text-decoration : none;
	color : black;
  width: 50px;
  height : 40px;
}

.layerPopup {
  display: none;
}

/* popuup end */