/* ::-webkit-scrollbar {
  display: none;} */

* {
  margin: 0;
  padding: 0;
}


body {
  overflow-y: ;
  /* display: flex;
  flex-direction: column; */
  /* position: absolute; */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 500vh;
}


.opening {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('/image/apartment.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  transition-duration: 1.5s;
}

.opening::after {
  content: "";
  display: block;
  /* position: relative;안해도되네 */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.opening .text .title {
  /* transform: none; */
  transition-duration: 1.5s;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'East Sea Dokdo', cursive;
  /* z-index: 1; */
  /* border: 1px solid #fff; */
  width: 600px;
  /* height: 500px; */
}

.text>.start {
  position: fixed;
  top: 30px;
  margin-top: 5%;
  padding: 0 2rem;
  font-size: 30px;
  font-family: 'East Sea Dokdo', cursive;
  border: 2px solid #fff;
  border-radius: 20px;
  background: none;
  color: #fff;
  transform: none;
  transition-duration: 1.5s;
}

.text>.start:hover {
  background: #fff;
  color: #d32f2f;
  transition-duration: .5s;
}

.sub-title {
  position: fixed;
  font-size: 40px;
  letter-spacing: 9px;
  display: block;
  height: 6vh;
  top: -90px;
  left: auto;
}


.sub-title::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  /* 오른쪽에서부터 재니까 마이너스를 붙여줘야한다. */
  width: 3px;
  height: 90%;
  background-color: white;
}

.sub-title.active::after {
  display: none;
}

.title {
  position: fixed;
  width: 350px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  transition-duration: 1s;
  margin-top: -10px;
  font-size: 80px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);

z-index: 3;
font-family: 'East Sea Dokdo', cursive;
color: #fff;
}



.title_2 {
  color: #d32f2f;
}


.side {
  /* top: 0;
  left: 0; */
  /* background-color: #d32f2f; */
  /* width: auto; */
  /* height: auto; */
}

#menu {
  height: 100%;
  position: fixed;
  background-color: #d32f2f;
  width: 300px;
  transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(-100%);
  top: 0;
  left: 60px;
  transition-duration: 2s;
  z-index: 3;
  opacity: 0;
}

#menu.expanded {
  transform: translateX(0%);
  left: 0px;
}

.menu-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

#blob {
  top: 0;
  z-index: -1;
  right: 60px;
  transform: translateX(100%);
  height: 100%;
  position: absolute;
}

#blob-path {
  height: 100%;
  fill:  #d32f2f;
}

.hamburger {
  right: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -10px;  
}

.hamburger .line {
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
}

.hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -2px;
}

.hamburger .line:nth-child(3) {
  bottom: 0;
}

h1 {
  position: fixed;
  right: 0;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
  width: 80%;
  margin-left: 10%;
  position: absolute;
  top: 10px;
}

ul li {
  color: #fff;
  font-family: sans-serif;
  padding: 20px 0;
}




.center {
  position: relative;
  background-color: royalblue;
  left: 50px;
  width: 96%;
  height: 100%;
}

.center .top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: red;
  z-index: 1;
}

.center .contents {
  position: absolute;
  top: 70px;
  /* left: 0; */
  width: 110%;
  height: 100%;
  background-color: yellow;
}